@import url(../css/normalize.css);
@import url(../fonts/fonts.css);
/*fonts*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  background: 0 0;
  top: -42px;
  right: 0px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 8040; }
  .fancybox-close:after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background: #fff;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    -o-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .fancybox-close:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background: #fff;
    -webkit-transform: rotate(-45deg) translateX(-50%);
    -ms-transform: rotate(-45deg) translateX(-50%);
    -o-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%);
    left: 50%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.fancybox-close:hover {
  opacity: 1; }
  .fancybox-close:hover:after, .fancybox-close:hover:before {
    background: #ff556c; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("../img/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* Some Base CSS Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "ArnoPro-Display", sans-serif;
  font-weight: 400;
  padding-top: 121px; }
  @media screen and (max-width: 640px) {
    body {
      padding-top: 58px; } }

.clearfix:after, .about__bottom:after,
.clearfix:before,
.about__bottom:before {
  display: table;
  content: " "; }

.clearfix:after, .about__bottom:after {
  clear: both; }

input:focus, a:focus, img:focus, textarea:focus {
  outline: none; }

.container {
  width: 1000px;
  margin: auto; }
  @media screen and (max-width: 1000px) {
    .container {
      width: auto; } }

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.header__top {
  min-height: 62px;
  border-bottom: 1px dotted #545454;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__top .container {
    padding-left: 40px; }
    @media screen and (max-width: 1280px) {
      .header__top .container {
        padding-left: 0;
        width: 100%; } }
  @media screen and (max-width: 640px) {
    .header__top {
      min-height: auto;
      border-bottom: none; } }

.header__name,
.header__phone {
  color: #5c5754;
  font-size: 19px;
  line-height: 32px;
  border-right: 1px dotted #545454;
  float: left; }

.header__name {
  padding-right: 24px; }
  @media screen and (max-width: 800px) {
    .header__name {
      display: none !important; } }

.header__phone {
  padding-right: 24px;
  padding-left: 24px; }

.header__search {
  float: right;
  position: relative; }
  .header__search button {
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/search.png) 0 0 no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -8px; }
  .header__search .control {
    padding-right: 35px; }

.control {
  height: 28px;
  line-height: 31px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #c4c4c4;
  background: #fff;
  padding: 0 15px; }

@media screen and (max-width: 640px) {
  .header__search .control {
    max-width: 146px; } }

.nav {
  padding: 16px 0 13px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav .container {
    padding-left: 40px; }
    @media screen and (max-width: 1280px) {
      .nav .container {
        padding-left: 0; } }
  @media screen and (max-width: 640px) {
    .nav {
      position: fixed;
      top: 70px;
      bottom: 0;
      width: 100%;
      background: #424242;
      visibility: hidden;
      opacity: 0; }
      .nav .nav__list {
        display: block; }
      .nav .nav__list li {
        display: block;
        text-align: center;
        color: #fff;
        margin-bottom: 9px; }
      .nav .nav__link {
        color: #fff;
        font-size: 22px; }
      .nav.active {
        visibility: visible;
        opacity: 1;
        top: 58px; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0; }
  @media screen and (max-width: 1000px) {
    .nav__list {
      padding: 0 15px; } }
  @media screen and (max-width: 560px) {
    .nav__list {
      display: block; }
      .nav__list li {
        display: inline-block;
        margin-right: 8px; } }

.nav__link {
  color: black;
  font-family: "oranienbaumRegular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav__link:hover, .nav__link.active {
    color: #b7162c; }

main {
  background: url(../img/bg.jpg) 0 0 repeat;
  padding: 77px 0 55px 0; }
  @media screen and (max-width: 1020px) {
    main {
      overflow-x: hidden;
      padding: 77px 20px 55px 20px; } }
  @media screen and (max-width: 640px) {
    main {
      padding-top: 20px; } }

@media screen and (max-width: 1000px) {
  .about .container {
    overflow-x: hidden; } }

.about__top {
  position: relative;
  margin-bottom: 40px; }
  .about__top:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -67px;
    left: 47%;
    width: 169px;
    height: 164px;
    background: url(../img/chesnok.png) 0 0 no-repeat; }
  @media screen and (max-width: 1000px) {
    .about__top {
      text-align: center; }
      .about__top:after {
        left: auto;
        right: 10%; } }
  @media screen and (max-width: 640px) {
    .about__top {
      margin-bottom: 10px; }
      .about__top:after {
        display: none; } }

.about__slogan {
  max-width: 560px;
  float: left; }
  @media screen and (max-width: 1000px) {
    .about__slogan {
      float: none;
      display: inline-block; } }
  @media screen and (max-width: 640px) {
    .about__slogan {
      max-width: 100%; } }

.about__slogan-xs {
  display: none; }

@media screen and (max-width: 640px) {
  .about__slogan-xs {
    display: inline-block; } }

.about__ch1 {
  max-width: 400px;
  float: right;
  position: relative;
  top: 57px; }
  @media screen and (max-width: 1000px) {
    .about__ch1 {
      display: none; } }

.about__bottom {
  position: relative; }
  @media screen and (max-width: 1000px) {
    .about__bottom {
      text-align: center; } }

.ch3 {
  position: absolute;
  left: -109px;
  top: 47px;
  max-width: 490px;
  z-index: 10; }
  @media screen and (max-width: 1000px) {
    .ch3 {
      position: static;
      left: auto;
      top: auto;
      display: inline-block; } }

@media screen and (max-width: 640px) {
  .ch3 {
    display: none; }
  .ch3-xs {
    display: inline-block !important; } }

.about__info {
  float: right;
  margin-right: -3px;
  margin-top: 12px;
  position: relative;
  max-width: 700px; }
  .about__info:before {
    content: '';
    position: absolute;
    display: block;
    top: -83px;
    right: -50px;
    width: 258px;
    height: 251px;
    background: url(../img/ch2.png) 0 0 no-repeat;
    z-index: 10; }
    @media screen and (max-width: 1280px) {
      .about__info:before {
        right: 4px; } }
  .about__info:after {
    content: '';
    position: absolute;
    display: block;
    right: -84px;
    bottom: -111px;
    width: 280px;
    height: 212px;
    background: url(../img/ch4.png) 0 0 no-repeat; }
    @media screen and (max-width: 1280px) {
      .about__info:after {
        display: none; } }
  @media screen and (max-width: 1000px) {
    .about__info {
      float: none;
      margin-right: 0;
      display: inline-block;
      margin-top: 70px;
      text-align: left; } }
  @media screen and (max-width: 640px) {
    .about__info {
      margin-top: 10px; }
      .about__info:before {
        display: none; } }

.info {
  background: url(../img/info-bg.jpg) 0 0 repeat;
  padding: 15px; }
  @media screen and (max-width: 640px) {
    .info {
      margin-left: -20px;
      margin-right: -20px; } }

.info__wrap {
  border: 1px solid #bbb;
  position: relative;
  padding: 50px 55px 30px 80px; }
  .info__wrap:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 2px solid #bbb; }
  @media screen and (max-width: 640px) {
    .info__wrap {
      padding: 50px 20px 30px 20px; } }

.info__title {
  color: #5c5754;
  font-family: "oranienbaumRegular", sans-serif;
  font-size: 32px;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  margin-left: -45px;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .info__title:after {
    content: '';
    background: url(../img/venzel.png) 0 0 no-repeat;
    display: inline-block;
    width: 32px;
    height: 12px;
    margin-left: 15px; }
  @media screen and (max-width: 640px) {
    .info__title {
      margin-left: 0; } }

.info__text {
  color: #5c5754;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 32px;
  margin-bottom: 25px; }

.info_footer {
  padding-top: 30px;
  border-top: 1px solid #919191; }

.section__title {
  text-align: center;
  margin-bottom: 30px; }
  .section__title img {
    display: inline-block; }
  @media screen and (max-width: 640px) {
    .section__title {
      margin-bottom: 15px; } }

.view {
  padding-top: 100px; }
  @media screen and (max-width: 1000px) {
    .view .container {
      overflow-x: hidden; } }
  @media screen and (max-width: 640px) {
    .view {
      padding-top: 25px; } }

.view_decor {
  position: relative; }
  .view_decor:before {
    content: '';
    position: absolute;
    width: 166px;
    height: 223px;
    display: block;
    left: -170px;
    top: -186px;
    background: url(../img/pom1.png) 0 0 no-repeat; }
  .view_decor:after {
    content: '';
    position: absolute;
    width: 119px;
    height: 118px;
    display: block;
    right: -130px;
    bottom: 17px;
    background: url(../img/pom2.png) 0 0 no-repeat; }
    @media screen and (max-width: 1280px) {
      .view_decor:after {
        display: none; } }

.view__row {
  text-align: center; }
  @media screen and (max-width: 1000px) {
    .view__row {
      display: block;
      text-align: center; } }

.view__item {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 40px; }
  @media screen and (max-width: 1000px) {
    .view__item {
      display: inline-block;
      margin-bottom: 25px; } }

.cheese {
  width: 295px;
  height: 397px;
  padding: 12px;
  -webkit-border-radius: 295px;
  border-radius: 295px;
  background: url(../img/view-bg.jpg) 0 0 repeat;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .cheese:hover .cheese__hover {
    top: 0; }

.cheese__img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 18px;
  position: relative;
  width: 271px;
  height: 271px; }
  .cheese__img img {
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .cheese__img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.5); }

.cheese__name {
  font-family: "oranienbaumRegular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #84061a; }

.cheese__hover {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f2d881;
  text-align: center;
  padding: 100px 17px 17px 17px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-border-radius: 295px;
  border-radius: 295px;
  z-index: 10; }

.cheese__hover-name {
  color: #84061a;
  font-family: "oranienbaumRegular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 10px; }
  .cheese__hover-name:after {
    content: '';
    position: absolute;
    width: 44px;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -22px;
    background: #433021; }

.cheese__info {
  color: #433021;
  font-size: 18px;
  font-style: italic;
  line-height: 22px; }

.recipe {
  padding-top: 50px;
  padding-bottom: 130px; }
  @media screen and (max-width: 640px) {
    .recipe {
      padding-bottom: 0;
      padding-top: 25px; } }

.title-recipe {
  position: relative; }
  .title-recipe:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -407px;
    width: 97px;
    height: 93px;
    display: block;
    background: url(../img/list.png) 0 0 no-repeat; }
  .title-recipe:before {
    content: '';
    position: absolute;
    bottom: -79px;
    left: 50%;
    margin-left: -335px;
    width: 85px;
    height: 82px;
    display: block;
    background: url(../img/sol.png) 0 0 no-repeat; }

.recipe__wrap {
  background: url(../img/recipe-bg.jpg) 0 0 repeat;
  height: 215px;
  position: relative;
  margin-top: 105px; }
  .recipe__wrap:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -220px;
    left: 50%;
    margin-left: -220px;
    height: 440px;
    width: 440px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url(../img/recipe-bg.jpg) 0 0 repeat; }
  @media screen and (max-width: 1000px) {
    .recipe__wrap:before {
      display: none; } }
  @media screen and (max-width: 640px) {
    .recipe__wrap {
      height: auto;
      background: 0 0;
      margin-top: 15px; }
      .recipe__wrap .slider1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translate3d(0px, 0px, 0px) !important;
        transform: translate3d(0px, 0px, 0px) !important; }
        .recipe__wrap .slider1 .slide {
          width: auto !important;
          position: relative;
          left: 30px; } }

.recipe__decor {
  position: relative; }
  .recipe__decor:before {
    content: '';
    position: absolute;
    top: 0;
    left: -118px;
    width: 123px;
    height: 241px;
    display: block;
    background: url(../img/specii.png) 0 0 no-repeat; }
    @media screen and (max-width: 1280px) {
      .recipe__decor:before {
        display: none; } }
  .recipe__decor:after {
    content: '';
    position: absolute;
    top: -75px;
    right: -137px;
    width: 154px;
    height: 363px;
    display: block;
    background: url(../img/klmn.png) 0 0 no-repeat; }
    @media screen and (max-width: 1280px) {
      .recipe__decor:after {
        display: none; } }
  .recipe__decor .bx-wrapper {
    margin: auto;
    position: relative;
    top: -35px;
    left: 27px; }
  .recipe__decor .bx-prev, .recipe__decor .bx-next {
    position: absolute;
    top: 118px; }
  .recipe__decor .bx-prev {
    left: -21px; }
  .recipe__decor .bx-next {
    right: 37px; }
  @media screen and (max-width: 640px) {
    .recipe__decor .bx-wrapper {
      left: 10px; }
    .recipe__decor .bx-viewport {
      overflow: visible !important; }
    .recipe__decor .bx-next {
      right: 8px; } }

.bx-prev, .bx-next {
  width: 46px;
  height: 46px;
  display: inline-block;
  background-color: #eccb5e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background-position: 53% center;
  background-repeat: no-repeat; }
  .bx-prev:hover, .bx-next:hover {
    background-color: #b8182e; }

.bx-prev {
  background-image: url(../img/ico-dir.png);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.bx-next {
  background-image: url(../img/ico-dir.png); }

.recipe__img {
  background: url(../img/recipe-decor.png) 0 0 no-repeat;
  width: 354px;
  height: 332px; }
  .recipe__img img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 222px;
    height: 222px;
    position: relative;
    top: 25px;
    left: 25px; }

.recipe__info {
  padding: 20px 20px;
  color: #3c3c3c;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  position: relative;
  width: 270px;
  margin: 0 auto;
  background: #fff;
  top: -24px;
  left: -30px;
  -webkit-box-shadow: 7px 12.1px 20px rgba(0, 0, 0, 0.14);
  box-shadow: 7px 12.1px 20px rgba(0, 0, 0, 0.14); }
  .recipe__info:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: 100%;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff; }
  @media screen and (max-width: 640px) {
    .recipe__info {
      top: auto;
      margin-top: -81px;
      left: -50px;
      margin-bottom: 30px; } }

.news {
  padding-top: 74px; }
  .news .bx-wrapper {
    position: relative; }
  .news .bx-prev, .news .bx-next {
    position: absolute;
    top: 167px; }
  .news .bx-prev {
    left: -60px; }
  .news .bx-next {
    right: -48px; }
  .news .section__title {
    margin-bottom: 43px; }
  @media screen and (max-width: 1020px) {
    .news .bx-prev {
      left: 4px; }
    .news .bx-next {
      right: 16px; } }
  @media screen and (max-width: 640px) {
    .news {
      padding-top: 25px; }
      .news .bx-viewport {
        overflow: visible !important; }
      .news .bx-prev {
        left: -19px; }
      .news .bx-next {
        right: -10px; }
      .news .btn-more {
        margin-top: 15px; } }

.news__decor {
  position: relative;
  left: -2px; }
  .news__decor:before {
    content: '';
    position: absolute;
    top: -165px;
    right: -140px;
    width: 204px;
    height: 199px;
    display: block;
    background: url(../img/ch5.png) 0 0 no-repeat; }
    @media screen and (max-width: 1280px) {
      .news__decor:before {
        display: none; } }
  .news__decor:after {
    content: '';
    position: absolute;
    width: 160px;
    height: 179px;
    display: block;
    background: url(../img/perec.png) 0 0 no-repeat;
    left: -149px;
    bottom: -77px; }
    @media screen and (max-width: 1280px) {
      .news__decor:after {
        display: none; } }
  @media screen and (max-width: 640px) {
    .news__decor {
      left: 0; } }

.news__slider .slide {
  padding-right: 15px; }

@media screen and (max-width: 640px) {
  .news__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0px, 0px) !important;
    transform: translate3d(0, 0px, 0px) !important; }
    .news__slider .slide {
      width: auto !important; } }

.news__slide {
  width: 290px;
  height: 410px;
  position: relative;
  padding: 20px;
  background: url(../img/info-bg.jpg) 0 0 repeat;
  -webkit-box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px; }
  .news__slide .img-wrap {
    height: 188px;
    margin: -20px -20px 13px -20px; }
    .news__slide .img-wrap img {
      width: 100%;
      z-index: 5;
      position: relative; }
  .news__slide:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #d6d6d6; }

.news__date {
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  color: #a2a09f;
  margin-bottom: 3px; }

.news__name {
  color: #5c5754;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px; }

.news__text {
  color: #5c5754;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0; }

.map {
  height: 514px;
  position: relative; }

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.ymaps-2-1-34-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.ymaps-2-1-34-controls__toolbar {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.ymaps-2-1-34-copyrights-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.balloon {
  position: absolute;
  left: 50%;
  top: 130px;
  margin-left: 120px;
  width: 382px;
  height: 198px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 10;
  -webkit-box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 1000px) {
    .balloon {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 70px;
      margin-left: 0; } }
  @media screen and (max-width: 640px) {
    .balloon {
      -webkit-transform: translateX(-50%) scale(0.7);
      -ms-transform: translateX(-50%) scale(0.7);
      -o-transform: translateX(-50%) scale(0.7);
      transform: translateX(-50%) scale(0.7);
      top: auto;
      left: 52%;
      bottom: 0; } }

.balloon__left {
  background: #f2d881;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-flex-basis: 150px;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .balloon__left img {
    max-width: 100%;
    display: inline-block; }

.balloon__right {
  background: #f0f0f0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100px;
  -moz-box-flex: 1;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
  padding: 0 10px 0 17px; }

.balloon__list {
  list-style: none;
  padding: 0; }
  .balloon__list li {
    color: #5c5754;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative; }
    .balloon__list li:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 17px;
      height: 1px;
      display: block;
      background: #898989; }
  .balloon__list a {
    color: #5c5754;
    font-size: 19px;
    text-decoration: none; }
    .balloon__list a:hover {
      text-decoration: none; }

.order {
  position: fixed;
  padding: 0 25px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 390px;
  left: -64px;
  background-color: #b7162c;
  text-align: center;
  height: 43px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 12px; }
  @media screen and (max-width: 640px) {
    .order {
      display: none;
      width: 46px;
      height: 41px;
      background-image: url(../img/mess.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      left: 0;
      top: 280px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
      .order.order-xs {
        display: block !important; } }
  .order.order-xs {
    display: none; }

.popup {
  background: url(../img/popup-bg.jpg) 0 0 repeat;
  width: 695px;
  position: relative;
  text-align: center;
  padding: 17px;
  display: none;
  overflow: hidden;
  font-family: "ArnoPro-Display", sans-serif; }
  .popup:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 165px;
    height: 270px;
    background: url(../img/popup-decor-left.jpg) 0 0 no-repeat; }
  .popup:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 146px;
    height: 152px;
    background: url(../img/popup-decor-right.jpg) 0 0 no-repeat; }
  @media screen and (max-width: 1000px) {
    .popup {
      width: auto; }
      .popup .popup__decor {
        padding: 40px 10px 27px 10px; } }

.popup__decor {
  border: 1px solid #c3c3c3;
  padding: 40px 45px 27px 45px;
  position: relative;
  z-index: 10; }
  .popup__decor form {
    position: relative; }
  .popup__decor:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 2px solid #c3c3c3; }

.popup__title {
  color: #584a3f;
  font-family: "oranienbaumRegular", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px; }
  .popup__title:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 48px;
    display: block;
    background: #584a3f;
    left: 50%;
    margin-left: -24px;
    bottom: 0; }

#popup-answer .popup__title {
  margin-bottom: 18px; }

#popup-answer .popup__decor {
  padding: 40px 45px 37px 45px; }

.popup__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  @media screen and (max-width: 1000px) {
    .popup__row {
      display: block; } }

.popup__text {
  color: #5c5754;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 32px;
  margin-bottom: 30px; }

.control_big {
  height: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  background: #fff;
  padding: 0 15px;
  width: 264px;
  border: 1px solid #cecece;
  font-family: "ArnoPro-Display", sans-serif;
  color: #9f9994;
  font-size: 20px;
  line-height: 30px; }
  @media screen and (max-width: 1000px) {
    .control_big {
      width: 100%; } }

.textarea {
  background: #fff;
  height: 152px;
  border: 1px solid #cecece;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px;
  font-family: "ArnoPro-Display", sans-serif;
  color: #9f9994;
  font-size: 20px;
  line-height: 30px; }
  @media screen and (max-width: 1000px) {
    .textarea {
      width: 100%; } }

.btn {
  -webkit-border-radius: 38px;
  border-radius: 38px;
  outline: none;
  background: #b7162c;
  position: relative;
  text-align: center;
  padding: 12px 30px 8px 30px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  border: none;
  cursor: pointer; }
  .btn:hover {
    opacity: .7; }

.parsley-errors-list {
  padding: 0 0 0 17px;
  margin-top: 5px;
  margin-bottom: 0;
  list-style: none; }
  .parsley-errors-list li {
    color: #b7162c;
    font-size: 16px;
    text-align: left; }

.ico-menu {
  border-top: 2px solid #5a4625;
  border-bottom: 2px solid #5a4625;
  position: relative;
  width: 30px;
  height: 16px;
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  top: -2px; }
  .ico-menu:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background: #5a4625; }

.visible-xs {
  display: none; }

.hidden-xs {
  display: block; }

.header__mobile {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
  @media screen and (max-width: 640px) {
    .header__mobile {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }

.header__link-contact {
  text-decoration: none;
  width: 60%;
  display: block;
  float: left;
  padding-left: 30px;
  font-size: 22px;
  color: #5a4625; }

.header__btn-nav {
  width: 40%;
  display: block;
  height: 58px;
  float: left;
  border: none;
  outline: none;
  background: #edcf6c;
  color: #5a4625;
  text-align: center;
  font-size: 22px; }

@media screen and (max-width: 640px) {
  .hidden-xs {
    display: none; }
  .visible-xs {
    display: block; }
  img {
    max-width: 100% !important; } }

.btn-more {
  display: none;
  height: 68px;
  width: 100%;
  -webkit-border-radius: 68px;
  border-radius: 68px;
  line-height: 68px;
  text-align: center;
  padding: 0 10px;
  background: #eccc5f;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 19px; }
  @media screen and (max-width: 640px) {
    .btn-more {
      display: block; } }
