/* Some Base CSS Rules */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $arno-display;
	font-weight: 400;
	padding-top: 121px;
	//font-size: 62.5%;
	//min-width: 1000px;
	@media screen and($xs){
		padding-top: 58px;
	}
}

.clearfix:after,
.clearfix:before{
	display: table;
	content: " ";
}
.clearfix:after{
	clear: both;
}

input:focus, a:focus, img:focus, textarea:focus{
	outline: none;
}