$xs: "max-width: 768px";
$sm: "max-width: 992px";
$md: "max-width: 1999px";
$lg: "min-width: 1200px";

/*fonts*/
$oran: "oranienbaumRegular", sans-serif;
$arno-display: "ArnoPro-Display", sans-serif;
$arno-smbd: "ArnoPro-Smbd", sans-serif;