$xs: "max-width: 640px";
$sm: "max-width: 1000px";
$md: "max-width: 1280px";
$lg: "min-width: 1280px";

/*fonts*/
$oran: "oranienbaumRegular", sans-serif;
$arno-display: "ArnoPro-Display", sans-serif;
$arno-smbd: "ArnoPro-Smbd", sans-serif;