
@import "../node_modules/normalize.css/normalize.css";
@import "../fonts/fonts.css";
@import "variables.scss";
@import "mixins.scss";
@import "base";

.container{
	width: 1000px;
	margin: auto;
	@media screen and(max-width: 1000px){
		width: auto;
	}
}
header{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.header__top{
	min-height: 62px;
	border-bottom: 1px dotted #545454;
	display: flex;
	flex-direction: row;
	align-items: center;
	.container{
		padding-left: 40px;
		@media screen and($md){
			padding-left: 0;
			width: 100%;
		}
	}
}
.header__name,
.header__phone{
	color: #5c5754;
	font-size: 19px;
	line-height: 32px;
	border-right: 1px dotted #545454;
	float: left;
}
.header__name{
	padding-right: 24px;
	@media screen and(max-width: 800px){
		display: none;
	}
}
.header__phone{
	padding-right: 24px;
	padding-left: 24px;
}
.header__search{
	float: right;
	position: relative;
	button{
		width: 16px;
		height: 16px;
		display: block;
		@include b(search, png);
		background-size: contain;
		border: none;
		outline: none;
		position: absolute;
		right: 14px;
		top: 50%;
		margin-top: -8px;
	}
	.control{
		padding-right: 35px;
	}
}
.control{
	height: 28px;
	line-height: 31px;
	border-radius: 28px;
	border: 1px solid #c4c4c4;
	background: #fff;
	padding: 0 15px; 
}
.nav{
	padding: 16px 0 13px;
	.container{
		padding-left: 40px;
		@media screen and($md){
			padding-left: 0;
		}
	}
}
.nav__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	margin: 0;
	@media screen and(max-width: 560px){
		display: block;
		li{
			display: inline-block;
			margin-right: 8px;
		}
	}
}
.nav__link{
	color: black;
	font-family: $oran;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s;
	&:hover, &.active{
		opacity: .6;
	}
}
main{
	background: url(../img/bg.jpg) 0 0 repeat;
	padding: 77px 0 55px 0;
	@media screen and(max-width: 1020px){
		overflow-x: hidden;
		padding: 77px 20px 55px 20px;
	}
}
.about{
	.container{
		@media screen and(max-width: 1000px){
			overflow-x: hidden;
		}
	}
	
}
.about__top{
	position: relative;
	margin-bottom: 40px;
	&:after{
		content: '';
		position: absolute;
		display: block;
		bottom: -67px;
		left: 47%;
		width: 169px;
		height: 164px;
		@include b(chesnok, png);
	}
}
.about__slogan{
	max-width: 560px;
	float: left;
}
.about__ch1{
	max-width: 400px;
	float: right;
	position: relative;
	top: 57px;
}
.about__bottom{
	@extend .clearfix;
	position: relative;
}
.ch3{
	position: absolute;
	left: -109px;
	top: 47px;
	max-width: 490px;
	z-index: 10;
}
.about__info{
	float: right;
	margin-right: -3px;
	margin-top: 12px;
	position: relative;
	max-width: 700px;
	&:before{
		content: '';
		position: absolute;
		display: block;
		top: -83px;
		right: -50px;
		width: 258px;
		height: 251px;
		@include b(ch2, png);
		z-index: 10;
		@media screen and($md){
			right: 4px;
		}
	}
	&:after{
		content: '';
		position: absolute;
		display: block;
		right: -84px;
		bottom: -111px;
		width: 280px;
		height: 212px;
		@include b(ch4, png);
		@media screen and($md){
			display: none;
		}
	}
}
.about{
	
}
.info{
	background: url(../img/info-bg.jpg) 0 0 repeat;
	padding: 15px;
}
.info__wrap{
	border: 1px solid #bbb;
	position: relative;
	padding: 50px 55px 30px 80px;
	&:before{
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border: 2px solid #bbb;
	}
}
.info__title{
	color: #5c5754;
	font-family: $oran;
	font-size: 32px;
	line-height: 30px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 30px;
	margin-left: -45px;
	margin-top: 0;
	display: flex;
	align-items: center;
	&:after{
		content: '';
		@include b(venzel, png);
		display: inline-block;
		width: 32px;
		height: 12px;
		margin-left: 15px;
	}
}
.info__text{
	color: #5c5754;
	font-family: Georgia, sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: 32px;
	margin-bottom: 25px;
}
.info_footer{
	padding-top: 30px;
	border-top: 1px solid #919191;
}
.section__title{
	text-align: center;
	margin-bottom: 30px;
	img{
		display: inline-block;
	}
}
.view{
	padding-top: 100px;
	.container{
		@media screen and(max-width: 1000px){
			overflow-x: hidden;
		}
	}
}
.view_decor{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 166px;
		height: 223px;
		display: block;
		left: -170px;
		top: -186px;
		@include b(pom1, png);
	}
	&:after{
		content: '';
		position: absolute;
		width: 119px;
		height: 118px;
		display: block;
		right: -130px;
		bottom: 17px;
		@include b(pom2, png);
		@media screen and($md){
			display: none;
		}
	}
}
.view__row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.view__item{

}
.cheese{
	width: 295px;
	height: 397px;
	padding: 12px;
	border-radius: 295px;
	background: url(../img/view-bg.jpg) 0 0 repeat;
	box-shadow: 10px 10px 10px rgba(0,0,0, .4);
	position: relative;
	cursor: pointer;
	overflow: hidden;
	&:hover .cheese__hover{
		top: 0;
	}
}
.cheese__img{
	border-radius: 50%;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 18px;
	position: relative;
	width: 271px;
	height: 271px;
	img{
		max-width: 100%;
		border-radius: 50%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		box-shadow:inset 0 0 0 9px rgba(255, 255, 255, .5);
	}
}
.cheese__name{
	font-family: $oran;
	font-size: 17px;
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #84061a;
}
.cheese__hover{
	position: absolute;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	background: #f2d881;
	text-align: center;
	padding: 100px 17px 17px 17px;
	transition: all .4s;
	border-radius: 295px;
	z-index: 10;
}
.cheese__hover-name{
	color: #84061a;
	font-family: $oran;
	font-size: 17px;
	line-height: 25px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 24px;
	margin-bottom: 10px;
	&:after{
		content: '';
		position: absolute;
		width: 44px;
		height: 1px;
		bottom: 0;
		left: 50%;
		margin-left: -22px;
		background: #433021;
	}
}
.cheese__info{
	color: #433021;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
}

.recipe{
	padding-top: 50px;
	padding-bottom: 130px;
}
.title-recipe{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: -30px;
		left: 50%;
		margin-left: -407px;
		width: 97px;
		height: 93px;
		display: block;
		@include b(list, png);
	}
	&:before{
		content: '';
		position: absolute;
		bottom: -79px;
		left: 50%;
		margin-left: -335px;
		width: 85px;
		height: 82px;
		display: block;
		@include b(sol, png);
	}
}
.recipe__wrap{
	background: url(../img/recipe-bg.jpg) 0 0 repeat;
	height: 215px;
	position: relative;
	margin-top: 105px;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -220px;
		left: 50%;
		margin-left: -220px;
		height: 440px;
		width: 440px;
		border-radius: 50%;
		background: url(../img/recipe-bg.jpg) 0 0 repeat;
	}
}
.recipe__decor{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: -118px;
		width: 123px;
		height: 241px;
		display: block;
		@include b(specii, png);
		@media screen and($md){
			display: none;
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: -75px;
		right: -137px;
		width: 154px;
		height: 363px;
		display: block;
		@include b(klmn, png);
		@media screen and($md){
			display: none;
		}
	}
	.bx-wrapper{
		margin: auto;
		position: relative;
		top: -35px;
		left: 27px;
	}
	.bx-prev, .bx-next{
		position: absolute;
		top: 118px;
	}
	.bx-prev{
		left: -21px;
	}
	.bx-next{
		right: 37px;
	}
}
.bx-prev, .bx-next{
	width: 46px;
	height: 46px;
	display: inline-block;
	background-color: #eccb5e;
	border-radius: 50%;
	transition: all .3s;
	background-position: 53% center;
	background-repeat: no-repeat;
	&:hover{
		background-color: #b8182e;
	}
}
.bx-prev{
	background-image: url(../img/ico-dir.png);
	transform: rotate(180deg);
}
.bx-next{
	background-image: url(../img/ico-dir.png);
}
.slider1{
	.slide{

	}
}
.recipe__img{
	@include b(recipe-decor, png);
	width: 354px;
	height: 332px;
	img{
		border-radius: 50%;
		width: 222px;
		height: 222px;
		position: relative;
		top: 25px;
		left: 25px;
	}
}
.recipe__info{
	padding: 20px 20px;
	color: #3c3c3c;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	position: relative;
	width: 270px;
	margin: 0 auto;
	background: #fff;
	top: -24px;
	left: -30px;
	box-shadow: 7px 12.1px 20px rgba(0, 0, 0, 0.14);
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -5px;
		bottom: 100%;
		border: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}
}

.news{
	padding-top: 131px;
	.bx-wrapper{
		position: relative;
	}
	.bx-prev, .bx-next{
		position: absolute;
		top: 167px;
	}
	.bx-prev{
		left: -60px;
	}
	.bx-next{
		right: -48px;
	}
	.section__title{
		margin-bottom: 43px;
	}
	@media screen and(max-width: 1020px){
		.bx-prev{
			left: 4px;
		}
		.bx-next{
			right: 16px;
		}
	}
}
.news__decor{
	position: relative;
	left: -2px;
	&:before{
		content: '';
		position: absolute;
		top: -165px;
		right: -140px;
		width: 204px;
		height: 199px;
		display: block;
		@include b(ch5, png);
		@media screen and($md){
			display: none;
		}
	}
	&:after{
		content: '';
		position: absolute;
		width: 160px;
		height: 179px;
		display: block;
		@include b(perec, png);
		left: -149px;
		bottom: -77px;
		@media screen and($md){
			display: none;
		}
	}
}
.news__slider{
	.slide{
		padding-right: 15px;
	}
}
.news__slide{
	width: 290px;
	height: 410px;
	position: relative;
	padding: 20px;
	background: url(../img/info-bg.jpg) 0 0 repeat;
	box-shadow: 8px 8px 14px rgba(0,0,0, .3);
	margin-bottom: 20px;
	.img-wrap{
		height: 188px;
		margin: -20px -20px 13px -20px;
		img{
			width: 100%;
			z-index: 5;
			position: relative;
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border: 1px solid #d6d6d6;
	}
}
.news__date{
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
	color: #a2a09f;
	margin-bottom: 3px;
}
.news__name{
	color: #5c5754;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.news__text{
	color: #5c5754;
	font-size: 18px;
	line-height: 24px;
	margin-top: 0;
}
.map{
	filter: grayscale(100%);
	height: 514px;
	position: relative;
}
#map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}
.balloon{
	position: absolute;
	left: 50%;
	top: 130px;
	margin-left: 120px;
	width: 382px;
	height: 198px;
	display: flex;
	flex-direction: row;
	z-index: 10;
	box-shadow: 8px 5px 15px rgba(0,0,0, .3);
}
.balloon__left{
	background: #f2d881;
	display: flex;
	width: 150px;
	flex-basis: 150px;
	flex-grow: 0;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		display: inline-block;
	}
}
.balloon__right{
	background: #f0f0f0;
	flex: 1 1 100px;
	padding: 0 10px 0 17px;
}
.balloon__list{
	list-style: none;
	padding: 0;
	li{
		color: #5c5754;
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 15px;
		padding-left: 30px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 10px;
			left: 0;
			width: 17px;
			height: 1px;
			display: block;
			background: #898989;
		}
	}
	a{
		color: #5c5754;
		font-size: 19px;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}
.order{
	position: fixed;
	padding: 0 25px;
	display: inline-block;
	transform: rotate(-90deg);
	top: 390px;
	left: -64px;
	background: #b7162c;
	text-align: center;
	height: 43px;
	color: white;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 12px;
}

.popup{
	background: url(../img/popup-bg.jpg) 0 0 repeat;
	width: 695px;
	position: relative;
	text-align: center;
	padding: 17px;
	display: none;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 165px;
		height: 270px;
		@include b(popup-decor-left, jpg);
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 146px;
		height: 152px;
		@include b(popup-decor-right, jpg);
	}
}
.popup__decor{
	border: 1px solid #c3c3c3;
	padding: 40px 45px 27px 45px;
	position: relative;
	z-index: 10;
	form{
		position: relative;
	}
	&:before{
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border: 2px solid #c3c3c3;
	}
}
.popup__title{
	color: #584a3f;
	font-family: $oran;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	&:after{
		content: '';
		position: absolute;
		height: 2px;
		width: 48px;
		display: block;
		background: #584a3f;
		left: 50%;
		margin-left: -24px;
		bottom: 0;
	}
}
.popup__row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.control_big{
	height: 38px;
	border-radius: 38px;
	background: #fff;
	padding: 0 15px;
	width: 264px;
	border: 1px solid #cecece;
}
.textarea{
	background: #fff;
	height: 152px;
	border: 1px solid #cecece;
	border-radius: 5px;
	margin-bottom: 25px;
	width: 100%;
	padding: 15px;
}
.btn{
	height: 38px;
	border-radius: 38px;
	outline: none;
	line-height: 43px;
	background: #b7162c;
	text-align: center;
	padding: 0 30px;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	transition: all .3s;
	display: inline-block;
	border: none;
	cursor: pointer;
	&:hover{
		opacity: .7;
	}
}
.parsley-errors-list{
	padding: 0 0 0 17px;
	margin-top: 5px;
	margin-bottom: 0;
	list-style: none;
	li{
		color: #b7162c;
		font-size: 16px;
		text-align: left;
	}
}